@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Frist-picture {
  transition: opacity 0.3s linear, transform 0.3s linear;
}
.product-picture:hover .Frist-picture {
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s linear;
}

.product-picture:hover {
  background: #f4f4f4;
}

.second-picture {
  opacity: 0;
  transform: scale(1, 1);
  transition: opacity 0.3s linear, transform 0.3s linear;
}

.product-picture:hover .second-picture {
  opacity: 1;
  transform: scale(1.05, 1.05);
}

@media (min-width: 1190px) {
  .c-product-grid__thumb--base,
  .c-product-grid__thumb--hover {
    transition: opacity 0.3s linear, transform 0.3s linear;
  }
}

.animi {
  -webkit-animation: Marque 10s linear infinite;
  animation: Marque 10s linear infinite;
  transition-timing-function: linear !important;
}

.Toastify__toast {
  @apply w-[420px] border border-black;
}

.Toastify__progress-bar--error {
  @apply bg-transparent;
}

/* .slick-slide {
  width: 770px !important;
} */

.testimonials {
  border-color: #fff;
  transition: all 0.5s ease-in;
}

.testimonials_slider .slick-list {
  padding: 0 0px !important;
  height: 300px;
}
.testimonials_slider .slick-active {
  margin-right: 60px;
}
.testimonials_slider .slick-active.slick-current .testimonials {
  @apply border border-black;
}

.testimonials_slider .slick-next:before {
  content: '>';
}

.testimonials_slider .slick-next {
  width: 30px !important;
  height: 30px !important;
  border: 2px solid #0a0a0a !important;
  color: #000000 !important;
  border-radius: 50% !important;
}

@keyframes Marque {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 10px));
  }
}
